@font-face {
  font-family: "Poppins", sans-serif;
  src: url(./Font/Poppins-Regular.ttf);
}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
body,html{
  height: 100%;
}
body{
  background: url('https://images.unsplash.com/photo-1488521787991-ed7bbaae773c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b73302ddf5fabf9285df2da9c462efbb&auto=format&fit=crop&w=1350&q=80');
  background-size: cover;
  background-repeat: no-repeat;
}
.gradient {
  width: 100%;
  height: 100%;
  background-image: radial-gradient(at 300px 300px, rgba(159,0,191,.9) 0, #4D4FA7 70%);
  display: flex;
  align-items: center;
}
.mainTodo{
  width: 600px;
  height: 500px;
  background: aliceblue;
  margin: 0 auto;
  border-radius: 18px;
  padding: 30px;
}
.main_Top{
  margin: 0 auto;
  /* display: inline-block; */
  text-align: center;
  
}
.main_Top input{
  border-radius: 30px;
  font-size: large;
  padding: 10px 30px;
  border: 2px solid rgb(213, 131, 122);
}
button{
  padding: 13px 20px;
  border-radius: 28px;
  font-size: 15px;
  cursor: pointer;
  background: rgb(236, 118, 40);
  border: 0px;
  color: white;
}
button:active{
  background: rgba(236, 118, 40, 0.831);
  scale: .9989;
}
ul{
  list-style: none;
  padding: 20px;
  
}
li{
  font-weight: 200;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.done{
  text-decoration: line-through;
  color: rgb(118, 117, 117);
  font-style: italic;
}

a{
  padding: 5px 10px;
  background: rgb(223, 223, 223);
  border-radius: 100%;
  cursor: pointer;
  scale: .8;
}
a:hover{
  background: rgb(228, 154, 154);
}
a:active{
  scale: .9888;
}